<.header>
  Listing Grades
</.header>

<.table id="grades" rows={@grades} row_click={&JS.navigate(~p"/grades/#{&1}")}>
  <:col :let={grade} label="Student"><%= grade.student.name %></:col>
  <:col :let={grade} label="Subject"><%= grade.subject.name %></:col>
  <:col :let={grade} label="Percent"><%= Clickr.Grades.format(grade.percent) %></:col>
  <:action :let={grade}>
    <div class="sr-only">
      <.link navigate={~p"/grades/#{grade}"}>Show</.link>
    </div>
  </:action>
</.table>
